.App {
  background-color: #ffffff;
}

#header {
  background-color: #283847;
}
#header p {
  margin: 0;
  padding: 0 0 10px 50px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
}
#title {
  font-family: "League Gothic", sans-serif;
  color: #2a2a2a;
  letter-spacing: 2px;
  font-size: 52px;
  padding: 10px;
  text-align: center;
}

.invoicesDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main-div {
  display: flex;
  flex-direction: column;
}

.card-parent {
  width: 40%;
  margin: 20px 0;
  padding: 10px;
}

#searchForm {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchForm div {
  display: flex;
  align-items: center;
}

#searchForm label {
  color: #2a2a2a;
  padding-right: 10px;
}

#searchForm input {
  padding: 5px 5px 3px 5px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid grey;
  box-shadow: 1px 4px 10px rgb(221, 221, 221);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
}

#searchForm p {
  padding: 0 10px;
  color: #2a2a2a;
  margin: 0;
  font-size: 20px;
}

#searchForm button {
  border-radius: 5px;
  padding: 4px 20px;
  border: none;
  background-color: #0197d6;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
}

#searchForm input:focus {
  outline-color: #0197d6;
}

@media screen and (max-width: 1100px) {
  .card-parent {
    width: 45%;
  }
}

@media screen and (max-width: 800px) {
  .formDiv {
  }

  #searchForm {
    flex-direction: column;
    margin: auto;
    width: 400px;
  }
  #searchForm div {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  #searchForm p {
    margin: 10px 0;
  }

  #searchForm button {
    margin-top: 20px;
  }
  .card-parent {
    width: 100%;
  }
}
